[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest
[submodule "deps/brpc"]
	path = deps/brpc
	url = git@github.com:apache/brpc.git
[submodule "deps/snappy"]
	path = deps/snappy
	url = git@github.com:HuangDunD/snappy.git
[submodule "deps/jackson"]
	path = deps/jackson
	url = https://github.com/nlohmann/json
[submodule "deps/tinyev"]
	path = deps/tinyev
	url = git@github.com:guangqianpeng/tinyev.git